<%- include("template/cabecera", {titleCabecera: "index"}) %>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">nombre</th>
        <th scope="col">descripción</th>
        <th scope="col">acción</th>
      </tr>
    </thead>
    <tbody>
      <% if (arrayMascotas.length > 0) { %> <% arrayMascotas.forEach(mascota =>
      { %>
      <tr>
        <td><%=mascota.id %></td>
        <td><%=mascota.nombre %></td>
        <td><%=mascota.descripcion %></td>
        <td>
          <button type="button" class="btn btn-primary">Editar</button>
        </td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>
</div>

<%- include("template/footer") %>
